header {
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
}

main {
    background-color: lightgray;
    color: white;
}

h1 {
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight: 100;
}

h2, h3, h4, button, a, p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
}

.main-title {
    text-align: center;
    margin-top: 3px;
}

.container {
    width: 100%;
    max-width: 80%;
}

.side1 {
    /* background-color: gray; */
    width: 100%;
    height: 100vh;
    color: white;
}

.side2 {
    background-color: gray;
    width: 100%;
    height: 100vh;
    color: white
}

.custom-width {
    width: 15vw;
    /* margin-right: 10px; */
}

.text-center {
    text-align: center;
}

.col-6{
    height: 100vh;
}

.overflow{
    overflow-y: scroll;
}

.ui-datepicker-year {
    display: none
    }

.ui-widget-content {
    font-family: "Josefin Sans";
    background-color: dimgray;
}

a {
    color: white;
}

.list-group a:hover{
        color:greenyellow
    }


iframe {
    width: 100%;
    height: 35vh;   
}

#searchBtn, #datepicker, #addComBtn{
    width: 90%;
    justify-content: center;
}

.main-title h2{
    padding-top: 0;
}

#musical {
    font-family: 'Courgette', 'cursive';
    -webkit-animation: rainbow 16s infinite;
}

h1 a:hover {
    font-weight: 400;
    text-decoration: inherit;
    color: black;
}

#datepicker {
    font-size: 1.2em;
    text-align: center;
}

/* synthesized from https://codepen.io/srmanu/pen/OVXXmj */
@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
    0%{color: orange;}	
    10%{color: purple;}	
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}

#searchBtn:hover {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 10s ease infinite;
    color: black !important;
}

#addComBtn:hover {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 10s ease infinite;
    color: black !important;
}

#submitComBtn:hover{
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    animation: rainbow 10s ease infinite;
    color: black !important;
}

h4 {
    padding-left: 10px;
    padding-top: 10px;
    border-bottom: 2px solid grey;
    border-radius: 2px;
}

/* Removes viewport height set earlier to remove extra space on smaller screens */
@media only screen and (max-width: 993px) {
    .side1 {
        height: auto;
    }
}